.add-review-btn {
    margin: 20px 0;
}

.reviews-list {
   margin: 40px 0; 
}

.book-review {
    margin-bottom: 20px;
}

.book-review .title {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.line {
    border: 1px solid #ccc;
}

.comment {
    margin-bottom: 24px;
}

.comment-header {
    font-size: 13px;
}

.comment-header span {
    font-size: 12px;
}
