{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-8">
    <h2>Contact</h2>

    <br/><br/>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Your email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        
        <div class="form-group">
            <label>Your name</label>
            <input class="form-control"/>
        </div>

        <div class="form-group">
            <label>Subject</label>
            <input class="form-control"/>
        </div>

        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
{% endblock %}

