{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <style>
  input {
   margin-bottom: 20px;
   margin-left: 10px;
  } 
  </style>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
