{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-7">
        <h2 class="lead">Edit Review</h2>
        <p>
            {{ form(delete_form) }}
        </p>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form._token) }}

            <div class="form-group">
                <label>Title</label>
                {{ form_widget(edit_form.title, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(edit_form.title) }}</span>
            </div>

            <div class="form-group">
                <label>Author</label>
                {{ form_widget(edit_form.author, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(edit_form.author) }}</span>
            </div>

            <div class="form-group">
                <label>Summary</label>
                {{ form_widget(edit_form.summary, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(edit_form.summary) }}</span>
            </div>

            <div class="form-group">
                <label>Review</label>
                {{ form_widget(edit_form.review, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(edit_form.review) }}</span>
            </div>

            <button name="submit" type="submit" class="btn btn-success">Save changes</button>
        </form>

        <br/><br/>
        <a class="go-back-btn btn btn-default" href="{{ path('books') }}">
            Go Back
        </a>
    </div>
{% endblock %}
