{% extends '::base.html.twig' %}

{% block body -%}
    <h2>Book Reviews</h2>

    {% if is_granted('ROLE_USER')%}
        <a class="add-review-btn btn btn-danger" href="{{ path('books_new') }}">
            Add Review
        </a>
    {% endif %}
   
    <div class="reviews-list">
        {% for entity in entities %}
            <div class="book-review row">
                <div class="col-lg-10">
                    <p class="lead title">
                        <a href="{{ path('books_show', { 'id': entity.id }) }}">{{ entity.title }}</a>
                    </p>
                    <p>
                        <span class="text-muted">{{  entity.createdAt|date('Y-m-d')  }}</span> 

                        {% if is_granted('ROLE_USER')%}
                            | <a href="{{ path('books_edit', { 'id': entity.id }) }}">edit</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
