{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col-lg-7">
        <h2 class="lead">New Review</h2>

        <form action="{{ path('books_create') }}" method="post">
            {{ form_widget(form._token) }}

            <div class="form-group">
                <label>Title</label>
                {{ form_widget(form.title, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.title) }}</span>
            </div>

            <div class="form-group">
                <label>Author</label>
                {{ form_widget(form.author, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.author) }}</span>
            </div>

            <div class="form-group">
                <label>Summary</label>
                {{ form_widget(form.summary, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.summary) }}</span>
            </div>

            <div class="form-group">
                <label>Review</label>
                {{ form_widget(form.review, {'attr': {'class': 'form-control'} }) }}
                <span class="text-danger">{{ form_errors(form.review) }}</span>
            </div>

            <button name="submit" type="submit" class="btn btn-success">Submit</button>
        </form>

        <br/><br/>
        <a class="go-back-btn btn btn-default" href="{{ path('books') }}">
            Go Back
        </a>
    </div>
{% endblock %}
