{% extends '::base.html.twig' %}

{% block body -%}
<div class="book-review">
    <h2 class="lead">{{ entity.title }}</h2>

    <p>
        {{ entity.author }} |

        <span class="text-muted">
            {{ entity.createdAt|date('Y-m-d') }} 
        </span>

        {% if is_granted('ROLE_USER')%}
            | <a href="{{ path('books_edit', { 'id': entity.id }) }}">Edit</a>
        {% endif %}
    </p>
    {% if is_granted('ROLE_USER')%}
        <div>{{ form(delete_form) }}</div>
    {% endif %}

    <hr/>

    <p>
        <strong>Reviewed By:</strong>
        <span>{{ entity.reviewedBy }}</span>
    </p>

    <br/>
    <p>
        <strong>Summary:</strong>
    </p>
    <p>
        <span>{{ entity.summary }}</span>
    </p>

    <br/>
    <p>
        <strong>Review</strong>
    </p>
    <p>
        <span>{{ entity.review }}</span>
    </p>

<br/><br/>
    <a class="go-back-btn btn btn-default" href="{{ path('books') }}">
        Go Back
    </a>

    <br/><br/>

    {% if is_granted('ROLE_USER')%}
        <div class="comment-form">
            <h2 class="lead">New Comment</h2>

            {{ form(comment_form) }}
        </div>
    {% endif %}

    <div class="comments-list">
        <h2 class="lead">Comments</h2>
        <hr class="line"/>

        {% for comment in comments %}
            <div class="comment media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object" width="48px" src="{{ asset('assets/img/avatar.png') }}" alt="avatar">
                    </a>
                </div>
                <div class="media-body">
                    <p class="text-muted comment-header"><strong>{{ comment.user.username }} </strong>| <span>{{ comment.createdAt|date('Y-m-d H:i a') }}</span></p>
                    {{ comment.body }}
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
