{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div> 
{% endif %}

<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
            <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" id="_submit" name="_submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>
{% endblock fos_user_content %}
